dd.attribuut {
	font-weight: bold;
	margin-left: 0;
	margin-bottom: 1em;
}

input[type=number]{
    width: 45px;
}

table.voorstellingen {
	border-collapse: collapse;
}

tbody tr td{
	padding-left: 3px;
	padding-right: 3px;
}

tbody.zebra tr:nth-child(odd) {
	background-color: #e6e3e6;
}

tbody.zebra tr:nth-child(even) {
	background-color: white;
}

td.vrijeplaatsen {
	text-align: right;
}