
dd {
	margin-left: 0;
}

dd.attribuut {
	font-weight: bold;
	margin-left: 0;
	margin-bottom: 1em;
}

dd.klantattribuut {
	margin-left: 0;
	margin-bottom: 1em;
}

input[type=number]{
    width: 45px;
}

input.reservatie{
	width: 90px;
	margin-bottom: 0.5em;

}

input#gebruikersnaam{
	width: 120px;
}

input#paswoord{
	width: 110px;
}

table.voorstellingen {
	border-collapse: collapse;
}

tbody tr td{
	padding-left: 3px;
	padding-right: 3px;
}

tbody.zebra tr:nth-child(odd) {
	background-color: #e6e3e6;
}

tbody.zebra tr:nth-child(even) {
	background-color: white;
}

td.vrijeplaatsen {
	text-align: right;
}

td.checkbox {
	text-align :center;
}

p#gebruiker{
	font-weight: bold;
}

ul {
	list-style-type: square;
}